version: '3'
services:
  app:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      PORT: "8080"
      SQLALCHEMY_DATABASE_URI: "postgresql://postgres:password@db:5432/finance_db"
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15.4-alpine3.18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: