blinker==1.9.0
click==8.3.1
Flask==3.0.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
flask-smorest==0.42.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-sqlalchemy==0.29.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30
Werkzeug==3.0.3
flask-jwt-extended==4.6.0
passlib==1.7.4
